body {
    margin: 0;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #0c5020;
    background-image: url('res/background.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
    position: fixed;
}


#view {
    position: absolute;
    color: white;
    font-family: "Nova Round", system-ui;
    border-radius: 1cm;
    /* font-family: cursive; */
    justify-self: center;

    margin: 10px;
    border: 2px dashed white;

    width: 95%;
}

h1,
h2,
h3 {
    text-align: center;

    font-weight: 540;
}

h2,
h3 {
    text-decoration: underline wavy;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

p {
    font-size: 1.7em;
    padding: 10px;
}

img {
    border: 2px dashed white;
    border-radius: 1cm;

    width: 80vmin;

    position: relative;

    left: 50%;
    transform: translateX(-50%);
}

.link-image {
    border: none;
    border-radius: 0;
    width: 20vw;
    transition: 100ms;
    left: auto;
    transform: none;
    padding: 20px;

}